html,body{
    height:100%;
}

p {
    text-align: justify;
    padding-right: 5px;
}

body{
    padding-top:50px; /*padding for navbar*/
}

.navbar-custom .icon-bar {
    background-color:#fff;
}

.navbar-custom {
    background-color: #168ccc;
    color:#fff;
    padding-right: 5px;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
    background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
    border-color: #49bfff;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
}

.panel-default {
    margin-right: 5px;
}

#main, #main>.row {
    height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
    overflow-y:scroll;
}

#map-canvas {
    width:100%;
    height: 600px;
} 

.col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.col-md-4 {
    padding-right: 0px;
}

.progress-bar span{
    color:black;
}

.progress-bar-warning{
    background-color:#FFEDA0;
    color:black;
}

.plus{
    font-size:.75em;
    font-family:monospace;
}

thead th:after{
    content:"  \21F5";
    color:grey;
    opacity:0.5;
}
